# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.env

# FastAPI / Pytest
.pytest_cache/
test.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

# OS
.DS_Store
